$main-font-family: 'Roboto', sans-serif; //основной шрифт

$main-white-color: #ffffff; //основной белый цвет
$main-black-text-color: #0000; //основной черный цвет текста
$main-error-color: #ff001b; //основной красный при ошибке
$main-orange-color: #ff6b08; //основной оранжевый цвет
$main-footer-bg-color: #f7f7f7; //основной цвет фона футера
$main-footer-text-color: #545454; //основной цвет текста футера

//animation parameter
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
