<div class="backdrop-auth hidden">
  <div class="modal-auth-sign-in">
    <p class="auth-title">Sign In</p>
    <svg class="modal-auth-close-btn"><use src=""></use></svg>
    <form class="sign-in-form">
      <input class="auth-sign-in" type="email" name="email" placeholder="Email" required />
      <input class="auth-sign-in" type="password" name="password" placeholder="Password" required />
      <button type="submit" class="auth-submit-btn">Continue</button>
    </form>
    <button type="button" class="register-btn">Registration</button>
  </div>
</div>
