<footer class="footer">
    <div class="container footer-container">
        <p class="footer-text">
            &#169; 2021 | All Rights Reserved |
            <span class="footer-text-next-line">
                Developed with <span class="blob"></span>
                <svg class="footer-text-svg">
                    <use href="./images/svg/symbol-defs.svg#icon-heart"></use>
                </svg>
                <span class="footer-text-second-part">
                    by
                    <a href="./footer-modal.html" class="footer-text-link" data-modal-footer="open">GoIT Students</a>
                </span>
            </span>
        </p>
    </div>
</footer>