.current-page {
  width: 40px;
  height: 40px;

  background-color: #ff6b08;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

.tui-ico-ellip {
  margin: 0;
  color: black;
  vertical-align: 10px;
}

.tui-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.inner-page-number {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.tui-last,
.tui-first {
  display: none;
}

.arrow-btn {
  width: 40px;
  height: 40px;
  background-color: #f7f7f7;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  cursor: pointer;
}

.tui-next,
.tui-prev {
  display: none;
}

// .gallery-empty-img {
//   // visibility: hidden;//================================================???????
// }

.gallery-empty-film {
  border-radius: 5px;
  box-shadow: 4px 6px 8px 0px rgba(34, 60, 80, 0.2);
}
.card-info {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  margin-top: 10px;
}
.card-photo {
  border-radius: 5px;
  cursor: pointer;
}
.card-img {
  border-radius: 5px;
  cursor: pointer;
}
.card-genre-date {
  color: $main-orange-color;
  margin-top: 5px;
  cursor: pointer;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .gallery {
    padding: 20px;
  }
  .gallery-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 60px 70px 50px 70px;
  }
  .gallery-item {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .card-photo {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
    width: 294px;
  }
}
@media screen and (min-width: 1024px) {
  .gallery {
    padding: 60px 70px 50px 70px;
  }
  .gallery-item {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .card-photo {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
    width: 294px;
  }
}
