a {
    text-decoration: none;
}

.tui-page-btn{
    color: red;
}

.page{
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: auto;
    justify-content: center;
    align-items: center;
}

.inner-page-number{

}