.header-second {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header/mobile/background-images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $main-white-color;

  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .header-second {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/mobile/background-images/header-bg@2x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .header-second {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/tablet/background-images/header-bg.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header-second {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/tablet/background-images/header-bg@2x.jpg');
    }
  }
}
@media screen and (min-width: 1024px) {
  .header-second {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/desktop/background-images/header-bg.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header-second {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/desktop/background-images/header-bg@2x.jpg');
    }
  }
}
