header {
  background-image: url('../images/header/mobile/background-images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: content;
}

.logo-icon {
  fill: none;
  width: 24px;
  height: 24px;
}

.search-icon {
  fill: none;
  width: 12px;
  height: 12px;
}
