body {
    position: relative;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms var(--time-cubic), visibility 250ms var(--time-cubic);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 882px;
    padding-top: 50px ;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 40px;
    margin-top: 60px;
    background-color: #fff;
    border: 1px solid #000000;

}

.use-img {
    z-index: 100;
    fill: #000;
}

// .backdrop .is-hidden {
//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none;
// }
.modal-close-btn {
    position: absolute;
    top: 2%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    border: none;
    /* border-radius: 50%; */
    /* background-color: transparent; */
    /* color: white; */
    cursor: pointer;
    // transition: background-color $transition-duration $timing-function;
    // background-image: url('./images/sprite.svg#icon-close');
    background-color: #fff;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat; 

}
.modal-box-main {
    display: flex;
    

}
.modal-img-box {
    height: 478px;
    margin-right: 30px;
}
.modal-img {
    // height: 478px;
}
.modal-image-film {
    border-radius: 5px;
}
.modal-info {
    width: 381px;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
}
.modal-lists-main {
    display: flex;
}
.modal-list {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    white-space: nowrap;
}
.uppercase {
    text-transform: uppercase;
}
.modal-list:not(:last-child) {
    margin-bottom: 10px;
}
.modal-name-info {
    margin-top: 20px;
    color: grey;
    padding: 0;
    margin-right: 83px;
    margin-bottom: 0;
}
.list {
    
}
.modal-name-info-content {
    font-weight: 500;
    font-style: normal;
    width: 100%;
    margin-top: 20px;
    padding: 0;
    margin-bottom: 0;
}
.modal-rating-film {
    width: 36px;
    height: 16px;
    left: 679px;
    top: 201px;
    background: #FF6B01;
    color: white;
    border-radius: 5px;
}
.modal-slash {
    color: grey;
}
.modal-about-box {
}
.madal-about {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    margin-top: 20px;
}
.modal-text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.47;
    margin-top: 10px;
    margin-bottom: 0;
}
.modal-btns {
    margin-top: 21px;
}
.modal-btn {
    width: 136px;
    height: 44px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 5px;
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: #FF6B01;
    color:#fff;
    border: none;
    cursor: pointer;
}
.modal-btn:not(:last-child) {
    margin-right: 15px;
}

@media screen and (max-width: 767px) {
    .backdrop {

    }
    .modal {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-box-main {
        display: block;
    }
    .modal-img {
        object-fit: cover;
        text-align: center;
        // width: 240px;
        // height: 356px;
    }
    .modal-info {
        

    }
    .modal-name-info-content {
        width: 120px;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .modal-list-trans {
        width: 120px;
        flex-wrap: wrap;
        // overflow:hidden;
    }
    .backdrop {
        padding: 20px;
    }
    .modal-close-btn {
        position: absolute;
        top: 0;
        right: 0;
    }
    .modal-about-box {
        // width: 100%;

        // height: 100%;
        display: flex;
        flex-direction: column;
    }
    .modal-text {
        width: 100%;
    }
    .modal-img-box {
        margin: 0 0 30px 0;
        height: 100%;
        word-wrap: break-word;

    }
    .modal-btns {
        display: flex;
    }
    .modal-btn {
        width: 112px;
        height: 44px;
    }
}