.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
    padding: 0;
  }
  @media screen and (min-width: 768px) {
    width: 618px;
    padding: 0;
  }
  @media screen and (min-width: 1024px) {
    width: 882px;
    padding: 0;
  }
}
